@page "/applicant/signup"
@using Farola.API
@using Farola.Database.Models
@using Farola.ViewModels
@inject IApplicantClient ApplicantAPI
@inject NavigationManager Navigation

<h3>Регистрация</h3>

<FluentEditForm Model="@user" OnSubmit="Submit">
    <FluentTextField Id="Surname" @bind-Value=user.Surname Placeholder="Введите фамилию" Label="Фамилия" Required />
    <FluentTextField Id="Name" @bind-Value=user.Name Placeholder="Введите имя" Label="Имя" Required />
    <FluentTextField Id="PhoneNumber" @bind-Value=user.Phone_number TextFieldType="TextFieldType.Tel" Placeholder="Введите номер телефона" Label="Номер телефона" Required />
    <FluentTextField Id="Email" @bind-Value=user.Email TextFieldType="TextFieldType.Email" Spellcheck="true" Placeholder="Введите эл. почту" Label="Эл. почта" Required />
    <FluentTextField Id="Password" @bind-Value=user.Password TextFieldType="TextFieldType.Password" Placeholder="Введите пароль" Label="Пароль" Required />
    <FluentTextField Id="Area" @bind-Value=user.Area Placeholder="Введите населённый пункт" Label="Населённый пункт" />

    <FluentButton Id="SubmitBtn" Type="ButtonType.Submit">Зарегистрироваться</FluentButton>
</FluentEditForm>

@code {
    private RegApplicant user = new();

    private async Task Submit()
    {
        await ApplicantAPI.SignUp(user);
        Navigation.NavigateTo("/professional/all/search");
    }
}
